<head>
    <title>Car Book Araç Kiralama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/carbook-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/animate.css">

    <link rel="stylesheet" href="~/carbook-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/carbook-master/css/aos.css">

    <link rel="stylesheet" href="~/carbook-master/css/ionicons.min.css">

    <link rel="stylesheet" href="~/carbook-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/carbook-master/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/carbook-master/css/flaticon.css">
    <link rel="stylesheet" href="~/carbook-master/css/icomoon.css">
    <link rel="stylesheet" href="~/carbook-master/css/style.css">
</head>

<!-- PopUp Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Eğer TempData SuccessMessage varsa
        if ('@TempData["SuccessMessage"]' !== '') {
            var successModal = new bootstrap.Modal(document.getElementById('successModal'));
            successModal.show();
        }
        // Eğer TempData ErrorMessage varsa
        if ('@TempData["ErrorMessage"]' !== '') {
            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.show();
        }
    });
    document.querySelectorAll('.modal-footer button').forEach(button => {
    button.addEventListener('click', function() {
        var modalEl = this.closest('.modal');
        var modal = bootstrap.Modal.getInstance(modalEl);
        modal.hide();
    });
});
</script>