@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>
    @await Component.InvokeAsync("_NavbarUILayoutViewComponentPartial")

    @await Component.InvokeAsync("_MainCoverUILayoutViewComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterUILayoutViewComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutViewComponentPartial")

</body>
</html>